<div class="app-container">
  <div class="d-flex justify-content-center">
    <h2>{{ 'change-default-pass.page-title' | translate }}</h2>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <div class="alert alert-warning" role="alert">
      {{'change-default-pass.info-message' | translate}}
    </div>
  </div>
  <div class="card">
    <form novalidate [formGroup]="formGroup" (ngSubmit)="sendData()">
      <!--                  hidden-->
      <input type="hidden" formControlName="user" name="username">
      <input type="hidden" formControlName="oldPassword" name="password">
      <!--                  hidden-->
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="newPassword">{{ 'new-pass' | translate }}</label>
            <input [attr.type]="showPassword?'text':'password'" class="form-control input-gray" id="newPassword"
                   formControlName="newPassword" name="password">
            <span class="pass-eye-icon text-black-50" (click)="showPass()">
                          <i class="far" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i>
                        </span>
            <small class="form-text error fade show animated fadeIn form-error"
                   *ngIf="formGroup.get('newPassword').hasError('required') && formGroup.get('newPassword').touched">
              {{'change-pass.new-pass-mandatory-message' | translate}}
            </small>
            <small class="form-text error fade show animated fadeIn form-error"
                   *ngIf="formGroup.get('newPassword').hasError('minlength')">
              {{'change-pass.new-pass-min-length-message' | translate}}
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="rePassword">{{ 'confirm-new-pass' | translate }}</label>
            <input [attr.type]="showRePassword?'text':'password'" class="form-control input-gray" id="rePassword"
                   formControlName="rePassword" name="password">
            <span class="pass-eye-icon text-black-50" (click)="showRePass()">
                          <i class="far" [ngClass]="{'fa-eye': !showRePassword, 'fa-eye-slash': showRePassword }"></i>
                        </span>
            <small class="form-text error fade show animated fadeIn form-error"
                   *ngIf="formGroup.get('rePassword').hasError('required') && formGroup.get('rePassword').touched">
              {{'change-pass.confirm-new-pass-message' | translate}}
            </small>

            <small class="form-text error fade show animated fadeIn form-error"
                   *ngIf="formGroup.hasError('notSame')">
              {{'change-pass.confirm-new-pass-equals-message' | translate}}
            </small>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-primary" *ngIf="!loading"
                [disabled]="formGroup.invalid">
          {{ 'send-button' | translate }}
        </button>
        <app-loading-button [loading]="loading" [class.d-none]="!loading"></app-loading-button>
      </div>
    </form>
  </div>
</div>



