<div class="app-container">
  <div class="d-flex justify-content-center">
    <h2>{{ 'recover-pass.page-title' | translate }}</h2>
  </div>
  <div class="card">
    <form novalidate [formGroup]="formGroup" (ngSubmit)="sendData()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="username">{{ 'username' | translate }}</label>
            <input type="email" class="form-control input-gray login" id="username"
                   formControlName="username" name="username"
                   placeholder="{{ 'username-placeholder' | translate }}">
            <small class="form-text error fade show animated fadeIn form-error"
                   *ngIf="formGroup.get('username').hasError('required') && formGroup.get('username').touched">
              {{ 'username-mandatory-message' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="document">{{ 'recover-pass.identity-document' | translate }}</label>
            <input type="text" class="form-control input-gray" id="document"
                   formControlName="document" name="document" placeholder="00000000T">
            <small class="form-text error fade show animated fadeIn form-error"
                   *ngIf="(formGroup.get('document').hasError('required') || formGroup.get('document').hasError('pattern') ) && formGroup.get('document').touched">
              {{ 'recover-pass.identity-document-valid-message' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-primary" *ngIf="!loading"
                [disabled]="formGroup.invalid ">
          {{ 'send-button' | translate }}
        </button>
        <app-loading-button [loading]="loading" [class.d-none]="!loading"></app-loading-button>
      </div>
    </form>
  </div>
</div>



