<div class="app-container">
  <div class="d-flex justify-content-center">
    <h2>{{ 'login.page-title' | translate }}</h2>
  </div>
  <div class="card">
    <form novalidate [formGroup]="formGroup" (ngSubmit)="sendData()">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="username">{{ 'username' | translate }}</label>
            <input type="email" class="form-control input-gray login" id="username"
                   formControlName="username" name="username"
                   placeholder="{{ 'username-placeholder' | translate }}">
            <small class="form-text error fade show animated fadeIn form-error"
                   *ngIf="formGroup.get('username').hasError('required') && formGroup.get('username').touched">
              {{ 'username-mandatory-message' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="password">{{ 'pass' | translate }}</label>
            <input [attr.type]="showPassword?'text':'password'" class="form-control input-gray" id="password"
                   formControlName="password" name="password" placeholder="{{ 'pass-placeholder' | translate }}">
            <span class="pass-eye-icon text-black-50" (click)="showPass()">
                          <i class="far" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></i>
                        </span>
            <small class="form-text error fade show animated fadeIn form-error"
                   *ngIf="formGroup.get('password').hasError('required') && formGroup.get('password').touched">
              {{ 'pass-mandatory-message' | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="flex-login align-items-end">
        <div class="text-left">
          <small class="recover-password" (click)="router.navigate(['recover-pass'])">{{'forgotten-pass-link' | translate}}</small>
        </div>
        <button type="submit" class="btn btn-outline-primary" *ngIf="!loading"
                [disabled]="formGroup.invalid ">
          {{ 'login.button' | translate }}
        </button>
        <app-loading-button [loading]="loading" [class.d-none]="!loading"></app-loading-button>
      </div>
    </form>
  </div>
</div>



