<button *ngIf="loading" type="button" class="btn btn-outline-primary" disabled>
  <span class="spinner-border spinner-border-sm text-dark" role="status" aria-hidden="true"></span>
  {{ 'login.button-loading' | translate }}
</button>
