<div class="modal-header outlinenone">
  <h4 class="modal-title" id="modal-basic-title">{{ title | translate }}</h4>
</div>
<div class="modal-body outlinenone">
  <div class="form-group">
    <div class="input-group">
      <p [innerHTML]="message | translate"></p>
    </div>
  </div>
</div>
<div class="modal-footer outlinenone">
  <button *ngIf="!isAlert" type="button outlinenone" class="btn btn-outline-danger btn-cancel"
    (click)="activeModal.dismiss()">{{ 'button.cancel' | translate}}
  </button>
  <button type="button outlinenone" class="btn btn-success"
    (click)="activeModal.close()">{{'button.accept' | translate}}
  </button>
</div>
