<div class="container mb-4">
  <div class="d-flex justify-content-center">
    <h2>{{ 'profile.page-title' | translate }}</h2>
  </div>
  <div class="card">
    <form novalidate [formGroup]="formGroup">

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button type="button" class="upload btn btn-outline" (click)="logout()">
            {{'profile.logout' | translate}}&nbsp;<i class="fas fa-sign-out-alt"></i>
          </button>
        </div>
      </div>

      <div class="row d-flex justify-content-center align-items-end mb-4">
        <div class="col-10 position-relative">
          <div class="image-frame">
            <img src="{{userPhoto}}">
          </div>
          <app-loading-button class="position-absolute button-upload" [loading]="loading" [class.d-none]="!loading"></app-loading-button>
          <button type="button" *ngIf="!loading" class="button-upload btn btn-outline-primary position-absolute" (click)="clickButton()">
            <i class="fas fa-upload"></i>
            {{ 'profile.upload-image' | translate }}
          </button>

          <input name="imageUrl" class="d-none" type="file" accept="image/*" (change)="handleInputChange($event)" #buttonImage/>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-10">
          <div class="form-group">
            <label for="displayName">{{ 'profile.displayName' | translate }}</label>
            <input type="text" class="form-control input-gray login" id="displayName"
                   formControlName="displayName" name="displayName" disabled>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-10">
          <div class="form-group">
            <label for="username">{{ 'profile.username' | translate }}</label>
            <input type="text" class="form-control input-gray" id="username"
                   formControlName="username" name="username" disabled>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-10">
          <div class="form-group">
            <label for="username">{{ 'profile.email' | translate }}</label>
            <input type="text" class="form-control input-gray" id="email"
                   formControlName="email" name="email" disabled>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center mb-4">
        <div class="col-10">
          <div class="form-group">
            <label for="username">{{ 'profile.birthday' | translate }}</label>
            <input type="text" class="form-control input-gray" id="birthday"
                   formControlName="birthday" name="birthday" disabled>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-10">
          <div class="alert alert-secondary" role="alert">
            {{'profile.data-message' | translate}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



