.button-upload{
  bottom: 0;
  left: 15px;
  background: #fff;
}

.background-dynamic-height {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-frame{
  height: 200px;
  width: 200px;
}

img {
  display: block;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
}

.logo {
  margin-top: 0;
}
