// Override bootstrap variables
$primary: #0C2340;
$secondary: #FAA80E;
$danger: #C82543;

@import "~bootstrap/scss/bootstrap.scss";

/* Custom icons */
@import "assets/styles/onetec-icons.scss";

.logo {
  color: var(--onetec-primary);
  font-size: 200px;
  margin-top: 60px;
  cursor: pointer;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--onetec-text-color);
}

:root {
  --onetec-primary: #{$primary};
  --onetec-secondary: #{$secondary};
  --onetec-danger: #{$danger};
  --onetec-error: #{$danger};

  --onetec-text-color: var(--onetec-primary);
  --onetec-background-color: #F8F8F8;
  --onetec-card-background-color: #FFFFFF;

  // form
  --onetec-form-control-color: var(--onetec-primary);
  --onetec-form-control-border-color: var(--onetec-primary);

  // input
  --onetec-input-border-width: 1.5px;
}

@mixin no-shadow {
  box-shadow: none;
}

@mixin shadow {
  box-shadow: 0 2px 3px -1px gray;
}

body {
  background-color: var(--onetec-background-color);
}

.app-container {
  max-width: 400px;
  padding: 0 10px;
  margin: 20px auto;
}

.card {
  width: 100%;
  padding: 20px;
  background-color: var(--onetec-card-background-color);
  border-radius: 0;
  border-top: 1.5px solid var(--onetec-primary);
}

button {
  &.btn {
    border-radius: 0;

    &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled):focus {
      @include no-shadow;
    }
  }

  &.btn.btn-outline-primary {
    border-color: var(--onetec-secondary);
    border-width: var(--onetec-input-border-width);
    border-style: solid;

    &:not(:disabled):not(.disabled) {
      &:hover, &:active  {
        background-color: var(--onetec-secondary);
        border-color: var(--onetec-secondary);
      }
    }
  }
}

.card, .form-control {
  @include shadow;
}

/**** Forms ****/
form {
  width: 100%;
}

.form-control, .form-control:focus {
  color: var(--onetec-form-control-border-color);
  border-color: var(--onetec-form-control-border-color);
  border: var(--onetec-input-border-width) solid var(--onetec-primary);
}

.form-control, .form-control:focus {
  border-radius: 0;
  @include shadow;
}

.form-control::placeholder {
  @include no-shadow;
}

// checkboxes
.custom-control-input:focus ~ .custom-control-label::before {
  @include no-shadow;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.form-error {
  color: var(--onetec-error);
  font-size: 0.8em;
  float: left;
  border-radius: 100px;
  margin-top: 5px;
}

// Media queries
@media (min-width: 240px) and (max-width: 720px) {
  .app-container {
    width: 96%;
  }
}

.pass-eye-icon {
  float: right;
  margin-right: 10px;
  margin-top: -32px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.form-control::placeholder,
.form-control::-webkit-input-placeholder,
.form-control:-moz-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder{
  color: gray;
}
