@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/onetec/onetec.eot?a31mz7');
  src:  url('assets/fonts/onetec/onetec.eot?a31mz7#iefix') format('embedded-opentype'),
    url('assets/fonts/onetec/onetec.ttf?a31mz7') format('truetype'),
    url('assets/fonts/onetec/onetec.woff?a31mz7') format('woff'),
    url('assets/fonts/onetec/onetec.svg?a31mz7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.8rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach:before {
  content: "\e900";
}
.icon-build:before {
  content: "\e901";
}
.icon-cake:before {
  content: "\e902";
}
.icon-camera:before {
  content: "\e903";
}
.icon-chat-bubbles:before {
  content: "\e912";
}
.icon-clip:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-coin-euro:before {
  content: "\e906";
}
.icon-credit-card:before {
  content: "\e913";
}
.icon-cross:before {
  content: "\e907";
}
.icon-holiday:before {
  content: "\e908";
}
.icon-loader:before {
  content: "\e909";
}
.icon-logo-go:before {
  content: "\e90a";
}
.icon-logout:before {
  content: "\e90f";
}
.icon-microphone:before {
  content: "\e914";
}
.icon-pause:before {
  content: "\e90b";
}
.icon-pencil:before {
  content: "\e90c";
}
.icon-play:before {
  content: "\e90d";
}
.icon-save:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e90e";
}
.icon-send:before {
  content: "\e910";
}
